<div class="text-center" style="margin-top:20px">
    <h1 id="anchor-welcome" class="display-2">Welcome</h1>
    <p class="p-hint">to Joshua Quizon's Portfolio</p>
</div>
<hr class="hr-subject">
<div class="text-center" style="padding-top: 20px" id="links-container">
    <a class="logo-link" href="https://www.linkedin.com/in/joshua-quizon-4092a8233"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="img-fluid" width="40px" height="auto"></a>
    <a class="logo-link" href="https://github.com/jbq2"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="img-fluid" width="40px" height="auto"></a>
    <a class="logo-link" href="https://drive.google.com/uc?export=download&id=1mO2iJyofYGc5JJ0YdSeBnIpaklmleX-_"><img src="https://cdn-icons-png.flaticon.com/512/1250/1250696.png" class="img-fluid" width="40px" height="auto"></a>
</div>
<div class="text-center" style="padding-top: 25px; padding-bottom: 20px">
    <p class="p-contact"><i class="fa fa-envelope"></i> jbq2@njit.edu &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-mobile-phone"></i> 973-979-2497</p>
</div>
<div class="home-container text-center">
    <p class="p-hint" style="font-size:16px"><i>Click a button to jump to a section</i></p>
    <div class="anchors-container text-center">
        <a href="#anchor-about-me" class="btn btn-primary btn-lg">About Me</a>
        <a href="#anchor-projects" class="btn btn-primary btn-lg">Projects</a>
        <a href="#anchor-experience" class="btn btn-primary btn-lg">Experience</a>
    </div>
</div>
<div class="text-center"><a id="btt" href="#anchor-welcome"><img src="https://cdn-icons-png.flaticon.com/512/55/55008.png" width="40px"></a></div>