<div class="text-center" style="margin-top:45px">
    <h1 id="anchor-welcome" class="display-2">Welcome</h1>
    <p class="p-hint">to Joshua Quizon's Portfolio</p>
</div>
<hr class="hr-subject">
<div class="text-center" style="padding-top: 20px" id="links-container">
    <a class="logo-link" href="https://www.linkedin.com/in/joshua-quizon-4092a8233"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="img-fluid" width="40px" height="auto"></a>
    <a class="logo-link" href="https://github.com/jbq2"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="img-fluid" width="40px" height="auto"></a>
    <a class="logo-link" href="https://instagram.com/keez1n?igshid=YmMyMTA2M2Y="><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" class="img-fluid" width="40px" height="auto"></a>
</div>
<div class="text-center" style="padding-top: 25px; padding-bottom: 20px">
    <p class="p-contact">jbq2@njit.edu &nbsp; &nbsp; &nbsp; &nbsp; 973-979-2497</p>
</div>
<div class="text-center">
    <p class="p-hint" style="font-size:16px"><i>Click a button to jump to a section</i></p>
</div>
<div class="text-center">
    <a class="btn btn-primary btn-lg">About Me</a>
    <a href="#anchor-projects" class="btn btn-primary btn-lg">Projects</a>
    <a class="btn btn-primary btn-lg">Experience</a>
</div>
<div id="btt" class="text-center"><a href="#anchor-welcome" class="btn btn-primary btn-lg" style="font-size:15px">Back to Top</a></div>
