.p-hint {
    font-size: 20px;
}

hr {
    width: 400px;
    margin: auto;
}

.logo-link {
    margin-left: 15px;
    margin-right: 15px;
}

.p-contact {
    font-size:18px;
}

#btt {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 50px;
}