<div class="text-center" style="margin-top:20px">
    <h1 id="anchor-experience" class="display-2">Experience</h1>
    <p class="p-hint"><i>Click to cycle through descriptions</i></p>
</div>
<hr class="hr-subject">
<div class="carousel-container">  
  <ngb-carousel [interval]="0">
    <ng-template ngbSlide>
      <!-- item card -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>1. STEM Instructor</b></h5>
          <p class="p-hint"><i>BuiltByMe STEM Learning</i></p>
          <hr>
          <p class="card-text">Teaching kids Python, Scratch, LEGO robotics, and film-making through classes.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Started Oct. 2021</li>
          <li class="list-group-item">Presently Working</li>
        </ul>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <!-- item card -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>2. Internet App Developer</b></h5>
          <p class="p-hint"><i>Kinexis Consulting</i></p>
          <hr>
          <p class="card-text">Developed appointment scheduler for a client airport using WordPress, PHP, and JavaScript.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Started Jun. 2022</li>
          <li class="list-group-item">Ended Aug. 2022</li>
        </ul>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <!-- item card -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>3. IT Department Intern</b></h5>
          <p class="p-hint"><i>New Jersey Urology</i></p>
          <hr>
          <p class="card-text">Applied hardware/software upgrades and troubleshooting techniques in medical computers.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Started Jun. 2020</li>
          <li class="list-group-item">Ended Aug. 2020</li>
        </ul>
      </div>
    </ng-template>
  </ngb-carousel>
</div>