.card {
    width: 16rem; 
    margin:auto;
    margin-bottom:25px;
    margin-top:20px;
}

.card-title {
    font-size:17px;
}
.card-text {
    font-size:14px;
}

.list-group-item {
    font-size:14px;
}

::ng-deep .carousel-control-prev-icon{
    filter: invert(1);
}
::ng-deep .carousel-control-next-icon{
    filter: invert(1);
}
