<div class="text-center" style="margin-top:45px">
    <h1 id="anchor-about-me" class="display-2">About Me</h1>
</div>
<hr class="hr-subject">
<div class="about-container mt-4" style="margin:auto">
    <p>
        Hello! My name is Joshua Quizon and I am a 4th year Dean's Scholar at the New Jersey Institute of Technology.
        I am a computer science major with a heavy interest in web development.  I love creating web apps because
        I get to see my code come to life rather than through some text in a terminal!<br><br>
        
        During my free time, I love to hang out with friends, play videogames, and taking pictures with my DSLR.  
        I have also made it a habit to exercise at the gym.  I strongly believe that mental and physical health is very 
        important for STEM students, as the workload they receive can sometimes be very intense!<br><br>

        My current goals are to maintain a high GPA and work ethic, as well as improve my problem-solving skills.
        Although I believe I am a very capable programmer, learning is a never-ending process.  As an aspiring
        software engineer, I have a moral obligation to perfect my craft and be a competent professional in my field!<br>
    </p>
</div>