@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Quicksand', sans-serif !important;
}

.p-hint {
    opacity: 0.7;
}

html {
    overflow-y: scroll;
}
  
.btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    color: white;
    background-color: #343434;
    border-color: black;
    font-size: 18px;
}

.btn:hover {
    background-color: black;
    border-color:black;
}

.btn:active{
    background-color:black;
}

.hr-subject {
    width: 400px;
    margin: auto;
}

#btt {
    position: fixed;
    bottom: 10px;
    right: 0px; 
}